h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}

section {
    text-align: justify;
    padding: 20px 20px 10px;
}

section:nth-child(odd) {
    background-color: #99d6ff;
}

table {
    border: 1px solid #000000;
}

tbody {
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.grid-item {
    padding: 10px;
}

.grid-image {
    height: 100px;
}